* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-night {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  font-size: 1.4rem;
  background-color: #1f1f26;
  color: #f2f2f2;
}

.nav-night a {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 0.5vw;
}
.day-night {
  margin: 0 1vw;
  height: 20px;
  width: 40px;
}
.game-page {
  display: grid;
  grid-template-rows: 7% 1fr 7%;
  justify-items: center;
  background-color: #3d3c52;
  height: 100vh;
}

.game-wrapper {
  margin-top: 1vh;
  width: 100%;
  height: 100%;
}
.game-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.game-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 600px;
  height: 64px;
  justify-items: center;
  align-items: center;
}
.play-again-button {
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #4369d9;
  border-radius: 20px;
  border: 3px solid;
  transition: 0.3s;
}

.play-again-button:disabled {
  color: black;
  border: 3px inset #4369d9;
  box-shadow: 0 2px 2px 3px rgba(67, 105, 217, 0.7);
}
.album-art {
  position: absolute;
  margin: 64px 0 0 0;
  height: 600px;
  width: 600px;
}

.album-art img {
  height: 100%;
  width: 100%;
}

.game-board {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: solid #1f1f26;
  z-index: 2;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.7);
}

.game-button {
  border: solid #1f1f26;
  background: #333259;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

.fa-solid {
  font-size: 100px;
  color: #4369d9;
}
.fa-xmark {
  font-size: 40px;
}
.score-box,
.strike-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #4369d9;
  width: 100%;
  height: 100%;
}
.score-number {
  width: 100%;
  text-align: right;
}

.fa-ghost,
.fa-umbrella-beach {
  font-size: 1.6rem;
  margin: 0 3vw;
}

.fa-umbrella-beach {
  color: gray;
}

.current-album-title {
  display: none;
  font-size: 3vw;
  color: #4369d9;
  text-align: center;
  margin: 3vh;
}

@media (max-width: 650px) {
  .nav-night {
    font-size: 0.8rem;
  }
  .play-again-button {
    font-size: 0.6rem;
  }
  .game-info {
    width: 300px;
  }
  .fa-solid {
    font-size: 37px;
  }
  .game-page {
    display: flex;
    flex-flow: column;
  }
  .fa-xmark {
    font-size: 18px;
  }
  .album-art {
    height: 300px;
    width: 300px;
  }
  .game-button {
    border: solid #1f1f26;
  }
  .game-board {
    width: 300px;
    height: 300px;
  }
  .score-text {
    margin: 0 4px;
  }
  .score-box,
  .strike-box {
    font-size: 18px;
  }
  .instructions {
    font-size: 0.7rem;
  }

  .fa-ghost,
  .fa-umbrella-beach,
  .fa-ghost-day,
  .fa-umbrella-beach-day {
    font-size: 1rem;
  }
}

/* info page style */

.info-page {
  display: grid;
  grid-template-rows: 7% 33% 1fr;
  height: 100vh;
  background-color: #3d3c52;
}

.game-play-info,
.high-score-list {
  text-align: center;
  color: #f2f2f2;
}

.game-play-info {
  font-size: 2.8vmin;
  padding: 0 4vw;
}
.game-play-info a {
  color: #f2f2f2;
  text-decoration: none;
}

/* Day Mode */
.nav-night,
.game-page,
.game-board,
.fa-solid,
.score-box,
.fa-sun,
.fa-ghost,
.info-page,
.game-play-info,
.high-score-list,
.game-play-info a {
  transition: 0.3s;
}
.nav-day {
  background-color: #f25835;
  color: #f2e8dc;
}

.game-page-day,
.info-page-day {
  background-color: #f1c4f2;
}

.play-again-button-day {
  color: #d9a74a;
  background-color: #f2e8dc;
}

.play-again-button-day:disabled {
  color: #f2e8dc;
  background-color: #d9a74a;
  border: inset #a07627;
  box-shadow: 0 2px 2px 3px rgba(217, 167, 74, 0.7);
}

.game-board-day {
  border: solid #d9a74a;
}

.game-button-day {
  border: solid #d9a74a;
  background: #79baf2;
}

.score-box-day,
.strike-box-day,
.current-album-title-day,
.fa-solid-day,
.fa-umbrella-beach-day,
.game-play-info-day,
.high-score-list-day,
.game-play-info-day a {
  color: #d9a74a;
}

.fa-ghost-day {
  color: black;
}

.matched {
  background: transparent;
}

.won {
  border: none;
  background: transparent;
}
