* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  /* grid-column: 1 / -1; */
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  font-size: 1.4rem;
  background-color: #1f1f26;
  color: #f2f2f2;
}

nav a {
  color: #f2f2f2;
  text-decoration: none;
  margin: 0 0.5vw;
}
.game-page {
  display: grid;
  /* grid-template-columns: 5fr 5fr; */
  grid-template-rows: 7% 1fr 7%;
  justify-items: center;
  background-color: #3d3c52;
  height: 100vh;
}

.game-wrapper {
  margin-top: 1vh;
  width: 100%;
  height: 100%;
}
.game-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.game-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 600px;
  height: 64px;
  justify-items: center;
  align-items: center;
}
.play-again-button,
.art-choice-button {
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #4369d9;
  border-radius: 20px;
  border: 3px solid;
  transition: 0.3s;
}

.play-again-button:disabled {
  color: black;
  border: 3px inset #4369d9;
  box-shadow: 0 2px 2px 3px rgba(67, 105, 217, 0.7);
}
.album-art {
  position: absolute;
  margin: 64px 0 0 0;
  height: 600px;
  width: 600px;
}

.album-art img {
  height: 100%;
  width: 100%;
}

.game-board {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: solid #1f1f26;
  z-index: 2;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.7);
}

.game-button {
  border: solid #1f1f26;
  background: #333259;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}
.matched {
  background: transparent;
}
.won {
  border: none;
  background: transparent;
}
.fa-solid,
.fa-brands {
  font-size: 100px;
  color: #4369d9;
}
.fa-xmark {
  font-size: 40px;
}
.score-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4369d9;
  width: 100%;
  height: 100%;
}
.score-number {
  width: 100%;
  text-align: right;
}

.art-choices {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
}
.art-section {
  margin-top: 3vh;
  width: 100%;
  height: 100%;
}
.art-choice-box {
  display: flex;
  flex-flow: column nowrap;
}
.art-choice-button {
  margin: 4%;
}
.current-album-display {
  height: 100%;
  width: 100%;
  text-align: center;
}

.current-art-choice {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #f2f2f2;
  font-size: 3vw;
  padding: 2% 0;
}

.current-album-display {
  text-align: center;
  color: #f2f2f2;
  font-size: 2rem;
}
@media (max-width: 650px) {
  nav {
    font-size: 0.9rem;
  }
  .play-again-button {
    font-size: 0.6rem;
  }
  .game-info {
    width: 300px;
  }
  .fa-solid {
    font-size: 37px;
  }
  .game-page {
    display: flex;
    flex-flow: column;
  }
  .fa-xmark {
    font-size: 18px;
  }
  .album-art {
    height: 300px;
    width: 300px;
  }
  .game-button {
    border: solid #1f1f26;
  }
  .game-board {
    width: 300px;
    height: 300px;
  }

  .score-box {
    font-size: 20px;
  }
  .instructions {
    font-size: 0.7rem;
  }

  .art-choices {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .art-choice-button {
    font-size: 0.6rem;
  }
}

/* info page style */

.info-page {
  display: grid;
  grid-template-rows: 7% 33% 1fr;
  height: 100vh;
  background-color: #3d3c52;
}

.game-play-info,
.high-score-list {
  text-align: center;
  color: #f2f2f2;
}

.game-play-info {
  font-size: 2.8vmin;
  padding: 0 4vw;
}
.game-play-info a {
  color: #f2f2f2;
  text-decoration: none;
}
